In [ ]:
!pip install contractions

In [1]:
import nltk
#nltk.download('stopwords')
#nltk.download('punkt')
#nltk.download('words')

In [5]:
import re
import pickle
import numpy as np
import pandas as pd
import contractions
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from keras.preprocessing.text import Tokenizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
df_1 = pd.read_csv("../Dataset/csv/train.csv", header=0, index_col=0)
df_1 = df_1.drop(['title','author'], axis = 1)
df_1.dropna(inplace = True)
#print(df_1.isnull().sum(axis = 0))

#Expanding Contraction, Lower Case and Word Splitting
df_1['text'] = df_1['text'].apply(lambda x: [contractions.fix(word, slang=False).lower() for word in x.split()])

#Removing Punctuations
df_1['text'] = df_1['text'].apply(lambda x: [re.sub(r'[^\w\s]','', word)  for word in x])

#Removing Stop Words
stop_words = set(stopwords.words('english'))
df_1['text'] = df_1['text'].apply(lambda x: [word for word in x if word not in stop_words])

#Removing Special Charecter and Numbers
df_1['text'] = df_1['text'].apply(lambda x: [word for word in x if re.search("[@_!#$%^&*()<>?/|}{~:0-9]", word) == None])

#Removing Non-English Words
english_words = set(nltk.corpus.words.words())
df_1['text'] = df_1['text'].apply(lambda x: [word for word in x if word in english_words])

#Concating Words back to Sentence
df_1['text'] = df_1['text'].apply(lambda x: ' '.join(x))

#print(df_1.head(3))

In [7]:
df_2 = pd.read_csv("../Dataset/csv/test.csv", header=0, index_col=0)
df_2 = df_2.drop(['title','author'], axis = 1)
df_2.dropna(inplace = True)
#print(df_2.isnull().sum(axis = 0))

#Expanding Contraction, Lower Case and Word Splitting
df_2['text'] = df_2['text'].apply(lambda x: [contractions.fix(word, slang=False).lower() for word in x.split()])

#Removing Punctuations
df_2['text'] = df_2['text'].apply(lambda x: [re.sub(r'[^\w\s]','', word)  for word in x])

#Removing Stop Words
stop_words = set(stopwords.words('english'))
df_2['text'] = df_2['text'].apply(lambda x: [word for word in x if word not in stop_words])

#Removing Special Charecter and Numbers
df_2['text'] = df_2['text'].apply(lambda x: [word for word in x if re.search("[@_!#$%^&*()<>?/|}{~:0-9]", word) == None])

#Removing Non-English Words
english_words = set(nltk.corpus.words.words())
df_2['text'] = df_2['text'].apply(lambda x: [word for word in x if word in english_words])

#Concating Words back to Sentence
df_2['text'] = df_2['text'].apply(lambda x: ' '.join(x))

#Transforming Labels
df_2['label'] = df_2['label'].apply(lambda x: int(x))

#print(df_2.head(3))

In [9]:
tfidfVectorizer = TfidfVectorizer(use_idf=True,stop_words='english')
tfidfVectorizer.fit(df_1['text'])  
tfidfVectorizer.fit(df_2['text']) 
#print(tfidfVectorizer.get_feature_names())

trainTfidfVector = tfidfVectorizer.transform(df_1['text']) 
testTfidfVector = tfidfVectorizer.transform(df_2['text']) 

tokenizer = Tokenizer()
tokenizer.fit_on_texts(df_1['text'])
tokenizer.fit_on_texts(df_2['text'])

trainSequence = np.array([np.array(seq) for seq in tokenizer.texts_to_sequences(df_1['text'])])
testSequence = np.array([np.array(seq) for seq in tokenizer.texts_to_sequences(df_2['text'])])

pickle.dump(tfidfVectorizer, open("../Dataset/tfidf_vectorizer-1.pickle", "wb"))
pickle.dump(tokenizer, open("../Dataset/tokenizer-1.pickle", "wb"))

pickle.dump(trainTfidfVector, open("../Dataset/tfidf_train-1.pickle", "wb"))
pickle.dump(trainSequence, open("../Dataset/sequence_train-1.pickle", "wb"))
pickle.dump(df_1['label'], open("../Dataset/label_train-1.pickle", "wb"))

pickle.dump(testTfidfVector, open("../Dataset/tfidf_test-1.pickle", "wb"))
pickle.dump(testSequence, open("../Dataset/sequence_test-1.pickle", "wb"))
pickle.dump(df_2['label'], open("../Dataset/label_test-1.pickle", "wb"))

In [12]:
tfidfVectorizer = pickle.load(open("../Dataset/tfidf_vectorizer-1.pickle", "rb"))
#print(tfidfVectorizer.get_feature_names())

tokenizer = pickle.load(open("../Dataset/tokenizer-1.pickle", "rb"))
#print(tfidfVectorizer.get_feature_names())

trainTfidfVector = pickle.load(open("../Dataset/tfidf_train-1.pickle", "rb"))
df_train = pd.DataFrame(data = trainTfidfVector.toarray(),columns = tfidfVectorizer.get_feature_names())
#print(df_train)

testTfidfVector = pickle.load(open("../Dataset/tfidf_test-1.pickle", "rb"))
df_test = pd.DataFrame(data = testTfidfVector.toarray(),columns = tfidfVectorizer.get_feature_names())
#print(df_test)

trainSequence = pickle.load(open("../Dataset/sequence_train-1.pickle", "rb"))
#print(trainSequence)

testSequence = pickle.load(open("../Dataset/sequence_test-1.pickle", "rb"))
#print(testSequence)

trainLabels = pickle.load(open("../Dataset/label_train-1.pickle", "rb"))
#print(trainLabels)

testLabels = pickle.load(open("../Dataset/label_test-1.pickle", "rb"))
#print(testLabels)

[array([   31,  1480,    14,    43,   497,  1987,  7054,  8677,   720,
        2998,   613,  1739,  1764,   956,   988,   247,    22,   160,
          51,    31,   136,  1480,     7,     9,    36,   247,    49,
        1380,   374,   497,   386,    25,   673,   910,  2035,   745,
          87,   702,  1435,     3,    80,   282,    36,  4413,    80,
         136,    31,   253,  2656,  2596,   355,   300,   955,   132,
          43,  1037,   124,    72,   497,   216,  2596,   282,   543,
         188,    39,    22, 10517,  1435,  1710,   837,  1530,   729,
        4314,   154,    92,   227,    36,    92,   229,   156,   517,
        4125,    36,   913,   128,   258,    80,   134,  2138,  6100,
        8263,   141,    17,   728,  1142,   446,   728,   913,   280,
         134,    53,  1435,  2756,   347,  6270, 14516,    51,   356,
          31,   136,  1480,   497,    25,   141,  1480,    48,  2192,
          14,    36,   497,    87,  3140,    91,   136,  2035,   976,
         497,    80,   146,   136,   976,   543,  2596,    18,  1190,
         282,    32,    50,    43,   163,    60,   160,   282,   193,
         635,  1259,  1338,  2650,   154,  1096,  2998,   307,   136,
          36,   245,    51,  1480,    32,   176,    91,   134,   353,
         367, 11314,   686,  1429,  1537,   497,   706,    11,   397,
        3478,  1209,    25,    29,    66,  1536,   225,   122,    14,
          92,   225,   122,   278,  6875,  5620,  1240,   155,  1172,
          30,  2334,  5834,   135,     7,  1034, 12076,    14,  6199,
        4996,   382,   112,  2650, 11909,  1180,  4110,    36,   207,
         693,  7972,    80,   651,  8890,  2294,  2174,   370,  2910,
         464,  2896,    57,   111,  2170,    80,    31,   689,   213,
         303,    79,  3598,  8033,   472,   105,   397,  1414,  7850,
         349,    31,   137,    80,   177,     9,   226,   988,   247,
          22,  2139,   168,   157,  1127,   294,   145,   753,   397,
         382,   737,    60,   371,  1152,   737,   988,  6446,  7851,
         616,  1450,   560,  1820,  4817,  1302,    25,    36,   367,
       11314,   221,    91,  2630,  1124,   699,  2630])
 array([  211,    23,  1095,    78, 13706,   328,  1430,   295,   411,
        1074,  3599,   603,   148,   292,  1324, 10074,   616,  1782,
         493,   207,  1391,  2028,  6542,   104,    30,  1451,  2047,
        2501,  2560,  2028,   608,   130,  5964,   181,    16,  5835,
         461,    10,   371,  1710,   467,   122,    12, 11910,   671,
         268,     7,   136,  6734,  1874,    14,   645,   145,  3504,
        1451,    32,   206,   608,   159,     8,     8,  1451,  5964,
          48, 29833,  3485, 15148, 13257,  4470, 24694,  2775,   141,
        2775,   138,   285,   663,  1122,   332,   925,    16,   281,
          26,  1393,   153,   312,    47,  5019,   147,   966,   564,
        4515,  1746,   126,   356,  5993,  5265,   113,    85,  5677,
        7487,  5621,   249,     6,   109,   475,   287,    80,  1711,
       10627,   835,  5964,  4237,     3,   625,   461,  7913,    40,
         368,   147,     1,   353,   835,   353,   784,   835,     8,
          30,   299,   353,   835,  4818,    40,    40,  1095,  1192,
         407,    14,  1818,   835,  4818,   690,  7130,   690,    14,
         453,     5,  1125,  1126,  1458,    87,   791,  4959,  7055,
         877,    39,  4910,     5,     2, 10518,    57,    57,   236,
         657,  1404,    26,  1165,   193,   351, 29834,  4532,  1365,
        1553,   998,   857,   462,   351,  1067,     5,  1643,   462,
         164,   119,   159,    36,    49,     5,    85,  8323,   183,
         236,   717,   746,   117,   173,   479,  9753,     7,    13,
           5,  3080,   667,    72,  1863,  1077,   186,   145,  8034,
         994,   371,    80,    10,   136,  1741,  5483,    58,   123,
         464,  1235,  1864,   216, 13013, 18091,  2882,    17,  7131,
          93,    30,    33,  5265,    72,   337,   721,   271,   952,
         915,   337,   721,   205,  1298,   271,   148,   292,  1324,
        2888,   292,    35,    31,   369,  1055,    14,   271,   742,
          25,    10,   292,  3739, 11600,  3983,   129,   481,   333,
        1165,    26,    42,     7,  1272,  7009,  2560,    42,   713])
 array([  462,    90,    23,   937,  2926,   253,    39,   184,  1753,
        4997,  2920,   167,  2469,    61,    44,    90,  1468,   125,
          99,   935,    29,   361,  3717,    90,  1865,   387,   921,
         359,    20,   413,  2227,    33,   214,  1355,   730,   575,
        1734,     3,   536,    50,   587,  3330,  4923,   325,   666,
        1340,   149,   351,   216,   581,   863,   598,   254,   892,
         114,   352,   344,    10,   730,   575,   665,    10,  3903,
         976,  2241,   107,   882,   160,  9754,     9,   786,   189,
         424,  1477,    60,    35,    31,   817,  5701,  1730,   137,
        2321,   325,    85,    10,   575,   259,  1017,  2298,  4853,
         574,   693,   575,   821,   166,  5292,    16,   470,  2630,
           8,   126,    67,   464, 18092,   784,   224,    32,   566,
         918,     5,   134,    79,    44,   325,  9755,  1651, 11464,
         291,   224,   863,  2626,  3056,    13,     8,  6045,   763,
         839,   575,   325,   212,   379,     8,   689,  8390,   263,
        1605, 15476,   713,   132, 16605,  2927,   916,   350,  3458,
        3170,  4641,   456,  1450,   166,  3458,   325,  4196,  1661,
        4623,  1814,  2715, 12461,  2097,     8,    27,  5038,   501,
          44,  5419,     8,   670,    20,   813, 12266,   224,   325,
         269,    49,  1299,  3437,    12,   176,  4225,   224,   575,
          98,   418,   668,   480,   358,   575,  1734,  4609,  2473,
          41,     8,     4,  2197,   176,   224,   141,  1299,  3437,
        4872,  2897,   158,  5928,  2171,   710,     8,   253,  3421,
        3984,  2898,   159,   131,    45,   218,   780,  1376,   350,
         333,   379,   253,  2897,     3,   253,  1932,   121,    84,
         100,   561,     8,  6660,   505,   117,   583,   318,  2113,
        1627,   301,    46,   233,   536,  6970,  5276,  1869,  1754,
        4960,   107,   160,    46,   253,   231,  9370,   707,     8,
         253,    46,  2686,  1464,   417,  3795,  1871,   253,   302,
         553,   158,  5928,   660,   341,    90,  2992,    46,    77,
         332,   410,   252,   523,   158,  5928,   105,   230,  2740,
          54,    30,   171,   786,  1093, 11745,    14,    12,    90,
          49,    29,  1073,   149,   288,    87,    87,   416,   379,
         615,  5333,     8,   253,   355,  1878,   105,   350,   167,
        2897,    92,   253,  2999,    36,   112,  1476,  3600,   462,
          36,   775,    49,    28,     7,  1461,   160,    46,   253,
        4471,    60,    10,  2241,   107,    46,    77,   786,   817,
         893,   107,   160,    46,   253,  1260,   321,  6660,   505,
         959,    36,   155,  2275,  4399,   167,  7679,   163,   200,
       11007,   379,  1119,    46,   253,   530,   140,    56,   436,
         309,   549,   253,   822,    30,   766,   333,   272,   886,
         386,   462,   570,   386,   462,   631,    90,   472,   690,
         350,  2637,    85,   462,   196,  1657,  1649,    39,  2335,
        1649,    53,   253,   813,   959,  2275,   295,    99,   167,
         509, 11315,    82,    34,  2335,    36,   171,  2704,   480,
          72,  1308,   689,    54,   166, 12267,   278,  6026,   682,
        6311,  1680,    41,   149, 11315,   490,  1436,   334,  1884,
        5020,   650,    22,   333, 11008,  6447,  4673,   402,   252,
        2530,  1905,  3458,   350,     8,    54,  1028,   420,   158,
        5928,   660,   341,  1438,  2202,    74,   253,  1410,    54,
         135,  7973,   615,   261,   692,  2335,   461, 15834,   331,
           8,  7974,    30,   167,    13,   373,  3071,   175,  8391,
         384,   173,  1856,   770,  7056,   502,   970,   140,   192,
        1364,  1397,  2275,  5678,    85,   405,  5021])
 ...
 array([  159,  1023,   364,   127,   130, 10694,  2062,  2838,  1500,
        1879,  1992,   354,   257,   364,    14,  7716,   496,   106,
         968,  9892,    11,   408,  1713,   118,  1500,   471,     5,
         258,  2981,   648,   890,     1,    17,   214,   787,    25,
          45,   628,  1566,   331,  1754,   268,   328,  1604,  1584,
         120,   232,   511,  2462,    12,  3064,   654,   106,   968,
        1791,   690,    43,    30,  1171,    37,    57,   654,  1303,
          47,   793,    51,   345,  2689,   618,  2035,  6206,   926,
         151,    19,   217,   646,   259,  3819,   189,   208,  3910,
          19,   148,  3930,   619,   117,   358,    10,    47,  2827,
        1573,  5380,  3291,   284,   303,   593,  6206,  3130,   926,
        1082, 14784,   509,   360,   291,   570,  8960,   165,    40,
        3235,   362,  1556,   570,   566,   743,   419,   175,    17,
          32,  9892,   408,  8772,   352,  8055,  2689,   118,  1096,
           7,   860,   862,  3096,  1398,     7,  1461,  1865,   516,
        1184,  1445,  2111,   796, 11691,   847,   118,  3142,   943,
        1308,   149,  1083,  3027, 11691,    57,  1756,   841,   847,
         458,   342,    12,   728,   141,   342,   318,   847,  2882,
         342,   336,   272,  1047, 18229,    19,    24,   143,  1375,
         149,  1083,   553,   118,   757,  2838,  8161,   149,  1083,
         118,  3294,   458,  3027,    33, 16246,  1713,   118,   122,
        1481,   318,   847,   342,   342,   182,  2966,  1713,   118,
         614,  1196,  1713,   106,   968,  2062,  2289,  3363,  9311,
         798,   208,   543,  1713,   118,  2891,  1056,   128,   501,
         808,   118,   286,   342,  5782,  2069,   167,    84,  3495,
         847,   149,  1083,  1823,    25,   155,   342,   808,    25,
         472,  1713,   118,   447,  1367,  4877,   149,  1083,   671,
        1713,   118,   830,   406,   283,   276,  1045,   406,  2633,
         776,     1,   776, 11691,   847,  1082,  1128,   406,     1,
         415,  4924,   471,  2462,   570,   213,  4088,    96,   149,
        1083,   206,  3058,   332,  7117,  3520,  1713,   118,    10,
        2604,   629,   341,   747,     1,   705,  1063, 10840,  2467,
         143,  2689,   318,  2475,   261,   192,   120,  1265,  3191,
        2400])
 array([   64,   540,  3686,   265,    83,   889,  3686,    83,    17,
        3473,  1988,    44,    83,    38,    83,  1493,  3154,   539,
         323,   237,    81,  3264,  7024,   161,   334,  1131,     1,
        3588,  1299,  2921,  3781,  1878,   645,  1367,   175,  1314,
        2122,    73,  1319,  2122,   926,  3534,   670,    15,   364,
        9298,    17,   707,    47,  2342,    17,   615,  1860,   200,
        5985,   272,  2326,   698,   924,  1106,  2119,  1422,  3579,
         491,   456,   584,    64,  1326,   586,    64,  5052,  1300,
        5961,    18, 13553,  1823,  1367,   426,  1422,   293,     3,
         125,  1740,  2471])
 array([  595,  1445,  1127,   680,   687,   490,  1745,   542,   160,
          27,   353,   347,   680,   353,   347,   680,   680,   514,
          93,     9,  3958, 11402,  1238,  3958,  2876,  4971,  5095,
        3363,   144,  4085,   680,  4085,  1236,  2282,  5095,   680,
       26933,  5095,  5056, 13539,    76, 24876, 26934,  3521, 13130,
        8522,  1687,   172,   680,   302,   680, 11402, 12374, 10959,
       16732,     9,  7158,   595,   457,    44,  1365, 14859,  8442,
        3070,   571,  4788,  1339,   364,    22,    44,  1235,  2929,
         168,   392,  1157,   816,   160,   265,   191,   115,    27,
          38,   178,   760,   934,    81, 13356,   934,   302,  1190,
         296,   303,   905,  4873,     9,   703,   319,   546,    44,
         495,  1839,  2619,   290,    28,   228,  1140,   238,   151,
         623,  1341,     6,  1885,  1074,   252,  4573,   652,   165,
         155,  1885,   763,    86,  5340,   357,  5446,   163,   375,
        1885,   759,   662,  2027,   754,  1088, 15585,   308,  2943,
        2113,  1014,     8,     4,   176,   506,   141,   128,  2751,
        1138,     6,  6607,   997,   986,  1957,     5,  1213,  1140,
           6,  1885,  4475,     5,  3989,   223,   375,  1140,    18,
        6961,     5,  3502,   395,   375,  1916,  1885,    34,    90,
         176,  2957,   666,   986,  1080,  1140,     9,  1885,  2265,
        1771,   899,  2104,  5446,  4699,   323,    63,  2452,   288,
        1885,   795,  1957,     5,    53,     6, 13192,   556,   141,
          96,   272,   165,  1208,  3846,   339,    22,  1947,  9528,
         339,  1773,   836,  1178,   494,  1007,  1019,   920,  1546,
         967,  1465,   472,   722,   919,   185,  2239,  1149,    14,
         187,  2410,   568,  7774,   739,  1114,  5740,    14,   997,
          14,   261,   997,  7529,    14,   258,    72,  2352,   809,
         986,  1340,  1885,   176,     6,  2619,     5,  1172,  4130,
        1074,   324,     9,  1052,   176,  1885,  2619,  1612,    20,
         233,   664,    20,  2201,  1109,   234,    22,     5,   324,
         410,   290,   957,   938,  5456,   426,   490,   231,   168,
         490,   969,   157,   650,  2853,   490,    22,   581,    44,
        1246,  3301,  1812,  2619,  1647,  1405,    44,  1520,  2861,
        1307,   556,     8,  1947,  5749,   691,    12,   873,   342,
         784,  1203,  1876,   209,   342,   641,    24,    16,  4775,
        6519,  4674,   919,    83,   716,  2414,   503, 13441,     9,
           8,   339,    43,  1274,   103,  4027,  8573,   395,   375,
        2682,  1007,   375, 15396,  3940,    74,   186,  1750,   655,
        2599,   395,   357,   193,  1019, 16460,    20,   328,  1776,
          59,  2837,   967,   452,  3066, 10166,   325,  7244, 11516,
        1260,   220,  1619,  5960,   269,   455,  1619,  5960,   788,
         713,  8642,   375,  1944,  1647,   911, 17537,    96,    33,
        1019,   185,   448,     8,  2604,    63,    22,   330,   508,
         114,   284,   733,   808,  3339,  1253,  1438,   494,  1007,
         972,   251,   595,  1445,  1127,   680,   687,   160,    27,
         539,    44,  1365,   353,   347,   680,   490,  1745,   542,
         221,    91,   100,    79])]