In [ ]:
!pip install contractions

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

In [ ]:
import re
import string
import numpy as np
import pandas as pd
import contractions
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.corpus import stopwords

In [83]:
df_1 = pd.read_csv("../Dataset/train.csv", header=0, index_col=0)
df_1 = df_1.drop(['title','author'], axis = 1)
df_1.dropna(inplace = True)
#print(df_1.isnull().sum(axis = 0))

#Expanding Contraction, Lower Case and Word Splitting
df_1['text'] = df_1['text'].apply(lambda x: [contractions.fix(word, slang=False).lower() for word in x.split()])

#Removing Punctuations
df_1['text'] = df_1['text'].apply(lambda x: [word for word in x if word not in string.punctuation])

#Removing Stop Words
stop_words = set(stopwords.words('english'))
df_1['text'] = df_1['text'].apply(lambda x: [word for word in x if word not in stop_words])

#Removing Special Charecter and Numbers
df_1['text'] = df_1['text'].apply(lambda x: [word for word in x if re.search("[@_!#$%^&*()<>?/|}{~:0-9]", word) == None])

#Concating Words back to Sentence
df_1['text'] = df_1['text'].apply(lambda x: ' '.join(x))

df_1.head(3)

                                                 text  label
id
0   house dem did not even see comey’s letter jaso...      1
1   ever get feeling life circles roundabout rathe...      0
2   truth might get fired october tension intellig...      1

In [84]:
df_2 = pd.read_csv("../Dataset/train2.csv", header=0, index_col=0)
df_2.dropna(inplace = True)
#print(df_2.isnull().sum(axis = 0))

label = []
for i in df_2['label']:
    if(i == 'real'):
        label.append(1)
    else:
        label.append(0)
df_2['label'] = label

#Expanding Contraction, Lower Case and Word Splitting
df_2['tweet'] = df_2['tweet'].apply(lambda x: [contractions.fix(word, slang=False).lower() for word in x.split()])

#Removing Punctuations
df_2['tweet'] = df_2['tweet'].apply(lambda x: [word for word in x if word not in string.punctuation])

#Removing Stop Words
stop_words = set(stopwords.words('english'))
df_2['tweet'] = df_2['tweet'].apply(lambda x: [word for word in x if word not in stop_words])

#Removing Special Charecter and Numbers
df_2['tweet'] = df_2['tweet'].apply(lambda x: [word for word in x if re.search("[@_!#$%^&*()<>?/|}{~:0-9]", word) == None])

#Concating Words back to Sentence
df_2['tweet'] = df_2['tweet'].apply(lambda x: ' '.join(x))


df_2.head(3)

                                                tweet  label
id
1   cdc currently reports deaths. general discrepa...      1
2   states reported deaths small rise last tuesday...      1
3   politically correct woman uses pandemic excuse...      0

In [85]:
df = pd.DataFrame()
df['news'] = df_1['text'].append(df_2['tweet'])
df['label'] = df_1['label'].append(df_2['label'])

print(len(df))

27181

In [86]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfVectorizer = TfidfVectorizer(stop_words='english')
newsTfidfVector = tfidfVectorizer.fit_transform(df['news'])

In [92]:
print(newsTfidfVector.shape)

(27181, 168635)

In [88]:
np.savez_compressed("../Dataset/train.npz",news = newsTfidfVector, label = df['label'])

In [89]:
data = np.load("../Dataset/train.npz", allow_pickle=True)
print(data['news'])

  (0, 142247)	0.05032711229853054
  (0, 80025)	0.047819402045884654
  (0, 18119)	0.024087828688302317
  (0, 23371)	0.026537716759481994
  (0, 43780)	0.020104896945131002
  (0, 25867)	0.0630004829957127
  (0, 46928)	0.017021675788073714
  (0, 86416)	0.04193058453934827
  (0, 78134)	0.028516005263695497
  (0, 142187)	0.013697948676480916
  (0, 658)	0.03679029681956147
  (0, 124296)	0.0309134285856916
  (0, 61806)	0.024433648607809312
  (0, 116930)	0.02944160193362026
  (0, 112479)	0.03227252793624632
  (0, 121153)	0.021984920581528466
  (0, 32881)	0.02713936272398327
  (0, 73542)	0.02370565471054426
  (0, 132583)	0.04182569367831718
  (0, 22404)	0.05327264138384922
  (0, 21356)	0.03960564433139905
  (0, 87586)	0.0332817364854396
  (0, 131651)	0.025519146971172336
  (0, 123208)	0.03273344583590353
  (0, 24260)	0.022310374856931364
  :	:
  (27178, 23039)	0.3534861758612966
  (27179, 34)	0.5217297198648224
  (27179, 27970)	0.44975744283609836
  (27179, 68726)	0.3291752564109035
  (27179, 35920)	0.30633557469608363
  (27179, 106405)	0.2819553702797375
  (27179, 19563)	0.33062165301020024
  (27179, 97713)	0.27563419573374254
  (27179, 48687)	0.24193964152072267
  (27180, 102750)	0.35441873265172613
  (27180, 64718)	0.2964659568478566
  (27180, 43830)	0.27783229470470117
  (27180, 74702)	0.3520857021193308
  (27180, 143144)	0.31431768451258685
  (27180, 77201)	0.24476616916671223
  (27180, 129495)	0.1980250138205583
  (27180, 19959)	0.18136860541376076
  (27180, 89035)	0.16198710246722153
  (27180, 1161)	0.3082446728216707
  (27180, 1260)	0.23820931665539877
  (27180, 119668)	0.21050526745333292
  (27180, 87145)	0.1024852071117363
  (27180, 133717)	0.27035052150548267
  (27180, 30609)	0.15289752489323283
  (27180, 19949)	0.1588854623136621