In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("../Dataset/submit.csv", header=0, index_col=0)
df.head(10)

       label
id
20800      0
20801      1
20802      0
20803      1
20804      1
20805      1
20806      1
20807      1
20808      0
20809      1

In [5]:
len(df)

5200